body {
    background-color: #F7F1E5;
}

hr {
    border-style:dotted none none none ;
    background-color:  #F7F1E5;
    border-width: 10px;
    width: 5%;

}
h1{
    color: #66bfbf;
}
h3{
    color: #66bfbf;
}